:root {
  --site-header-height: 70px; /* reduce this to match actual header height */
}

.site-header-placeholder {
  height: var(--site-header-height);
  width: 100%;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1100;
  background: #ffffff;
  
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-height: unset;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.site-header .container {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.site-header img {
  display: block;
  height: auto;
  mix-blend-mode: multiply;
  background: transparent !important;
}


/* Remove white box around GIF logo */
/* .navbar-brand img {
  mix-blend-mode: multiply;
  background: transparent !important;
} */